@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway');@-webkit-keyframes menu-toogle{from{-webkit-transform:rotate(0);transform:rotate(0);}
to{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
}
@keyframes menu-toogle{from{-webkit-transform:rotate(0);transform:rotate(0);}
to{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
}
*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;}
body{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;font-size:14px;}
.navigation{width:100%;height:10vh;min-height:64px;background:#FEFEFE;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-flow:row-reverse;flex-flow:row-reverse;position:fixed;z-index:999;padding:24px;}
.navigation__mobile-ico{display:none;}
.navigation__logo{font-family:'dancing Script';padding:12px;color:#4C4C47;}
.navigation__menu{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.navigation__menu__item{list-style-type:none;text-align:right;}
.navigation__menu__li__item__link{color:#2D2D2A;text-decoration:none;padding:6px 16px;font-family:'Raleway';font-weight:100;-webkit-transition:.3s all linear;-o-transition:.3s all linear;transition:.3s all linear;cursor:pointer;font-size:13px;}
.navigation__menu__li__item__link:hover{-webkit-transition:.3s all linear;-o-transition:.3s all linear;transition:.3s all linear;color:#848FA5;}
.banner{display:-webkit-box;display:-ms-flexbox;display:flex;background:url('../images/banner2.jpg') no-repeat top;background-size:cover;width:100%;height:40vh;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;padding:42px;}
.section{width:100%;min-height:100vh;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:#FEFEFE;padding:40px 0px;}
.about-me{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.about-me__figure{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;width:30%;}
.about-me__figure__image{width:100%;height:100%;border-radius:100%;max-width:112px;margin:10% 0px;}
.about-me__figure__figcaption{font-family:'dancing Script';font-size:36px;color:#3D3B39;padding:14px;text-align:center;margin:10%;}
.about-me__article{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.about-me__article__paragraph{width:75%;padding:8px;font-family:'Raleway';font-size:14px;font-size:13px;color:#3D3B39;text-align:justify;}
.menu{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.menu__article{width:90%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.menu__article__heading{width:100%;text-align:center;font-family:'Raleway';font-size:18px;padding:24px 0px;color:#4C4C47;font-weight:100;border-bottom:1px solid #848FA5;border-top:1px solid #848FA5;margin:16px 0px;}
.menu__article__figure{width:24%;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-family:'Raleway';font-size:12px;padding:4px;-webkit-transition:0.2s all linear;-o-transition:0.2s all linear;transition:0.2s all linear;border-bottom:0px solid #FEFEFE;}
.menu__article__figure:hover{border-bottom:0px solid #848FA5;-webkit-transition:0.2s all linear;-o-transition:0.2s all linear;transition:0.2s all linear;}
.menu__article__figure__image{width:75%;height:75%;}
.menu__article__figure__figcaption{width:100%;padding:8px;text-align:justify;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;color:#848FA5;}
.menu__article__figure__figcaption--title{font-weight:100;width:100%;font-size:14px;padding:4px 4px 4px 4px;text-align:center;width:100%;color:#2D2D2A;}
.gallery{min-height:0;}
.contact{-ms-flex-pack:distribute;justify-content:space-around;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.contact__adress{width:100%;height:20vh;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline;}
.contact__adress__heading{width:100%;text-align:center;font-family:'raleway';color:#4C4C47;font-weight:100;font-size:18px;}
.contact__adress__span{width:100%;padding:12px;font-family:'Raleway';font-weight:100;color:#848FA5;font-size:14px;text-align:center;}
.contact__social{width:40%;height:20vh;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline;}
.contact__social__header{width:100%;text-align:center;font-family:'raleway';color:#4C4C47;font-weight:100;font-size:18px;}
.contact__social_a{width:32px;height:32px;-webkit-transition:.2s all linear;-o-transition:.2s all linear;transition:.2s all linear;opacity:.8;}
.contact__social_a:hover{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-webkit-transition:.2s all linear;-o-transition:.2s all linear;transition:.2s all linear;opacity:1;}
#flickr{background:url('../icons/flickr.svg') center no-repeat;background-size:cover;}
#facebook{background:url('../icons/facebook.svg') center no-repeat;background-size:cover;}
#instagram{background:url('../icons/instagram.svg') center no-repeat;background-size:cover;}
.footer{width:100%;height:32px;background:#7f8c8d;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;padding:4px;}
.footer__copyright{color:#fff;font-size:12px;}
@media (max-width:720px){.navigation__logo{font-size:18px;}
.navigation__menu{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column;width:100%;-webkit-transition:.4s all linear;-o-transition:.4s all linear;transition:.4s all linear;opacity:0;visibility:hidden;margin-top:148px;}
.navigation__mobile-ico{display:-webkit-box;display:-ms-flexbox;display:flex;background:url('../icons/burger.svg') center no-repeat;background-size:cover;width:32px;height:24px;border:none;-webkit-transition:.2s all linear;-o-transition:.2s all linear;transition:.2s all linear;cursor:pointer;}
.navigation__mobile-ico:focus+.navigation__menu{-webkit-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);opacity:1;-webkit-transition:.4s all linear;-o-transition:.4s all linear;transition:.4s all linear;background:#FEFEFE;padding-top:16px;padding-bottom:16px;visibility:visible;}
.navigation__mobile-ico:focus{animation-name:menu-toogle;animation-duration:.9s;}
.navigation__menu__li__item__link{font-size:16px;}
.about-me__figure{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;width:40%;max-width:112px;}
.about-me__figure__image{width:100%;height:100%;border-radius:100%;}
.about-me__figure__figcaption{font-family:'dancing Script';font-size:24px;color:#3D3B39;}
.about-me__article__paragraph{font-size:14px;}
.menu__article{height:100%;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.menu__article__figure{width:75%;}
}