/* Fonts name : Dancing Script & Raleway*/

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato');

/*
 NORMALIZE
*/

.loader {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    z-index: 9999
}

.loader-done {
    display: none;
    opacity: 0;
    transition: .9s all ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #1E1D1B;
}

.h2 {
    width: 100%;
    text-align: center;
    font-family: 'lato';
    color: #837A75;
    font-weight: 100;
    font-size: 24px;
}

.h2--light {
    color: #a37b17
}

.h2--big {
        font-size: 20px;
    font-weight: 100;
}

.paragraph {
    width: 75%;
    color: #3D3B39;
    padding-top: 24px;
    font-size: .8em;
}


/*
    NAVIGATION
*/

.nav-pinned {
    transform: translateY(0px);
    transition: .7s all ease-in-out;
}

.nav-unpinned {
    transform: translateY(-100px);
    transition: .7s all ease-in-out;
}

.navigation {
    width: 100%;
    height: 10vh;
    min-height: 64px;
    background: rgba(30, 29, 27, .9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    position: fixed;
    z-index: 99;
    padding: 24px;
}

.navigation__mobile-ico {
    display: none;
}

.navigation__logo {
    font-family: 'dancing Script';
    padding: 14px;
    color: #996F2D;
    font-size: 28px;
    font-weight: 100;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navigation__menu__item {
    list-style-type: none;
    text-align: right;
}

.navigation__menu__li__item__link {
    color: #696866;
    text-decoration: none;
    padding: 6px 10px;
    font-family: 'lato';
    font-size: 17px;
    font-weight: 700;
    -webkit-transition: .3s all linear;
    -o-transition: .3s all linear;
    transition: .3s all linear;
    cursor: pointer;
}

.navigation__menu__li__item__link:hover {
    -webkit-transition: .3s all linear;
    -o-transition: .3s all linear;
    transition: .3s all linear;
    color: #996F2D;
}


/* BANNER */

.banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url('../images/background1.jpg') no-repeat center;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    padding: 42px;
}

.start-button {
    padding: 20px 72px;
    text-align: center;
    border: 1px solid #a37b17;
    text-decoration: none;
    color: #837A75;
    font-family: 'lato';
    transition: .25s all ease-in-out;
}

.start-button:hover {
    color: #a37b17;
    border: 1px solid #837A75;
    transition: .25s all ease-in-out;
}


/* BASIC SECTION */

.section {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0px;
}


/*
    HEADER SECTION
*/

.header {
    background: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.start-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    background: none;
    font-family: 'lato';
    font-size: 28px;
    font-weight: 100;
    text-align: center;
    padding: 16px;
    color: #837A75;
}

.start-text-title {
    width: 100%;
    padding: 16px;
}


/*
    ABOUT ME SECTION
*/

.about-me {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #1E1D1B;
}

.about-me__figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
}

.about-me__figure__image {
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 112px;
    flex-basis: 100%;
}

.about-me__figure__figcaption {
    width: 100%;
    font-family: 'dancing Script';
    font-size: 2em;
    color: #837A75;
    padding: 14px;
    text-align: center;
    margin: 12%;
}

.about-me__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about-me__article__paragraph {
    width: 80%;
    padding: 8px;
    font-family: 'lato';
    font-size: 16px;
    color: #837A75;
    text-align: justify;
}


/*
    MENU SECTION
*/

.menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu__article {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu__article__heading {
    width: 100%;
    text-align: center;
    font-family: 'Raleway';
    font-size: 1em;
    padding: 24px 0px;
    color: #4C4C47;
    font-weight: 100;
    border-bottom: 1px solid #848FA5;
    border-top: 1px solid #848FA5;
    margin: 16px 0px;
}

.menu__article__figure {
    width: 24%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Raleway';
    font-size: .7em;
    padding: 4px;
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
    border-bottom: 0px solid #FEFEFE;
}

.menu__article__figure:hover {
    border-bottom: 0px solid #848FA5;
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
}

.menu__article__figure__image {
    width: 100%;
    height: 164px;
}

.menu__article__figure__figcaption {
    width: 100%;
    padding: 8px;
    text-align: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #848FA5;
    font-size: 1.1em;
}

.menu__article__figure__figcaption--title {
    font-weight: 100;
    width: 100%;
    font-size: 1.2em;
    padding: 4px 4px 4px 4px;
    text-align: center;
    width: 100%;
    color: #2D2D2A;
}


/*
    CATEING
*/

.catering {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #1E1D1B;
}

.list-item--catering {
    color: #BCAA99;
    text-align: center;
    padding: 12px 8px;
    font-size: 16px !important;
}


/* private-cooker  */

.private-cooker {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #1E1D1B;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    list-style-type: none;
    margin: 32px;
    font-size: .9em;
}

.list__header {
    width: 100%;
    text-align: center;
    color: #837A75;
    font-size: 18px;
    font-weight: 100;
    font-family: lato;
}

.list__header--dark {
    color: #221D23;
}

.list__item {
    width: 100%;
    font-family: 'lato';
    padding-top: 12px;
    font-size: 16px;
    color: #a37b17;
}

.list__item-left {
    text-align: left;
}

.list__paragraph {
    width: 100%;
    padding: 8px;
    font-family: 'lato';
    font-size: 16px;
    color: #837A75;
    text-align: justify;
}


/*
    SMOKING
*/

.smoking {
    align-items: center;
    background: #1E1D1B;
    justify-content: space-around;
}

.list-smoking__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
    height: 480px;
    border: 1px solid #937d33;
    padding: 18px 12px;
}

.list--smoking {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 386px;
    flex-direction: row;
}

.list__header {
    color: #837A75;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-weight: 100;
}

.list__header--big {
     width: 100%;
    font-family: 'lato';
    color: #837A75;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    font-weight: 100;
}

.list__title--smoking {
    font-size: 18px;
    width: 100%;
    color: #a37b17;
    font-family: 'Lato';
    text-align: center;
}

.list__item--smoking {
    width: 100%;
    padding: 0px 4px;
    text-align: center;
    color: #837A75;
    font-size: 16px;
}

.list__item-title {
    width: 100%;
    text-align: center;
    padding: 12px;
    color: #a37b17;
    font-weight: 700;
    font-size: 18px;
}

.price--smoking {
    width: 100%;
    color: #a37b17;
    font-family: 'lato';
    text-align: center;
    padding-right: 12px;
    background-color: #1E1D1B;
    font-size: 16px;
}


/*
    MENU SUGGESTIONS
*/

.menu-suggestion {
    justify-content: center;
}

.desc {
    width: 100%;
    padding: 8px;
    font-family: 'lato';
    font-size: .8em;
    color: #837A75;
    text-align: justify;
}

.price {
    width: 100%;
    text-align: right;
    color: #a37b17;
    font-family: 'lato';
}

.info {
    width: 75%;
    text-align: center;
    color: #837A75;
    font-size: 15px;
    font-family: 'lato';
}


/*
    GALLERY
*/

.gallery {
    justify-content: center;
    align-content: center
}

.gallery-link {}

.gallery-container {
    width: 75%;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 24px;
}

.smarthphoto-content {
    z-index: 999;
}

.smartphoto-caption {
    display: flex;
    justify-content: center;
    font-size: 14px !important;
    font-weight: 700;
    font-family: 'lato';
    color: #a37b17 ;
    word-break: break-all ;
    white-space: normal;
    overflow:visible ;
    text-overflow: clip;
    line-height: 18px;
    padding-top: 18px;
}

.gallery-preview {
    width: 100%;
    transition: .5s all ease-in-out;
    padding: 4px;
    background: #996F2D;
}

.gallery-preview:hover {
    opacity: 1;
    transition: .5s all ease-in-out;
}


/*
    CONTACT SECTION
*/

.contact {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact__adress {
    width: 100%;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}


.form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fieldset {
    border: none;
    display: flex;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    text-align: center;
}

.fieldset__legend {
    color: #a37b17;
    padding: 18px;
    font-size: 16px;
    font-weight: 100;
    font-family: 'lato';
}

.fieldset__input {
    width: 100%;
    background: #141414;
    border: none;
    border-radius: 12px;
    padding: 8px;
    color: #a37b17;
    font-weight: 700;
    font-family: 'lato';
}

.fieldset__textarea {
    width: 100%;
    height: 72px;
    flex-wrap: nowrap;
    font-size: 16px;
    font-family: 'lato';
    font-weight: 700;
    color: #a37b17;
    background: #141414;
    border: none;
    border-radius: 12px;
    padding: 8px;
    resize: none;
}

.fieldset__textarea,
.fieldset__input:focus {
    outline: none;
}

.fieldset__button {
    width: 176px;
    height: 42px;
    background: #141414;
    border: 2px solid #141414;
    border-radius: 4px;
    color: #a37b17;
    font-weight: 700;
    margin: 16px auto;
    cursor: pointer;
    font-size: 14px;
    transition: 0.25s all ease-in-out;
    padding: 4px;
    font-family: 'lato';
}

.fieldset__button:hover {
    border: 3px solid #a37b17;
    transition: 0.25s all ease-in-out;
}
.contact__adress__heading {
    width: 100%;
    text-align: center;
    font-family: 'lato';
    color: #4C4C47;
    font-weight: 100;
    font-size: 1.35em;
}

.contact__adress__span {
    width: 100%;
    padding: 12px;
    font-family: 'lato';
    font-weight: 700;
    color: #a37b17;
    font-size: 16px;
    text-align: center;
}

.contact__social {
    width: 40%;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.contact__social__header {
    width: 100%;
    text-align: center;
    font-family: 'raleway';
    color: #4C4C47;
    font-weight: 100;
    font-size: 1.35em;
}

.contact__social_a {
    width: 32px;
    height: 32px;
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear;
    opacity: .8;
}

#facebook {
    background: url('../icons/002-social.svg') center no-repeat;
    background-size: cover;
    opacity: .8;
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear;
}

#instagram {
    background: url('../icons/001-instagram.svg') center no-repeat;
    background-size: cover;
    opacity: .8;
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear;
}

#facebook:hover,
#instagram:hover {
    opacity: 1;
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear;
}

.footer {
    width: 100%;
    height: 112px;
    background: #1E1D1B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 4px;
    flex-wrap: wrap;
    font-family: 'lato';
}

.adress {
    width: 60%;
    color: #837A75;
    padding-left: 14px;
}

.footer__copyright {
    width: 30%;
    text-align: right;
    color: #fff;
    font-size: 1em;
    padding-right: 14px;
}

.credits {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #a37b17
}

.credits-link {
    text-decoration: none;
    color: #a37b17;
    padding: 0px 4px;
}

@media (max-width: 1064px) {
    .gallery-container {
        -webkit-column-count: 2;
        -webkit-column-gap: 12px;
        -moz-column-count: 2;
        -moz-column-gap: 12px;
        column-count: 2;
        column-gap: 12px;
    }
    .navigation {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0px;
    }
    .navigation__logo {
        font-size: 1em;
    }
    .navigation__menu {
        position: absolute;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        width: 100vw;
        height: 256px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        transform: translateY(-200px);
        -webkit-transition: .25s all ease-in-out;
        -o-transition: .25s all ease-in-out;
        transition: .25s all ease-in-out;
        background: rgba(30, 29, 27, .9);
        padding-bottom: 12px;
    }
    .navigation__mobile-ico {
        position: absolute;
        right: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: url('../icons/menu.svg') center no-repeat;
        color: white;
        background-size: cover;
        width: 32px;
        height: 32px;
        border: none;
        -webkit-transition: .2s all linear;
        -o-transition: .2s all linear;
        transition: .2s all linear;
        cursor: pointer;
    }
    .show {
        -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
        -webkit-transition: 0.25s all ease-in-out;
        -o-transition: 0.25s all ease-in-out;
        transition: 0.25s all ease-in-out;
    }
    .navigation__menu__li__item__link {
        width: 100%;
        font-size: .9em;
        font-weight: 100;
    }
        .list-smoking__container {
        width: 80%;
        margin-top: 64px;
    }
    .fieldset {
        width: 85%;
    }
}



@media (max-width: 720px) {
    .banner {
            background: url('../images/mobile.jpg') no-repeat center;
    }
    .about-me__figure {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 40%;
        max-width: 112px;
    }
    .about-me__figure__image {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    .about-me__figure__figcaption {
        font-family: 'dancing Script';
        font-size: 2em;
        color: #3D3B39;
    }
    .about-me__article__paragraph {
        font-size: .9em;
    }
    .menu__article {
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .menu__article__figure {
        width: 75%;
    }
    .menu__article__figure__figcaption {
        font-size: 1.2em;
    }
    .list__paragraph {
        font-size: 14px;
    }
    .list-item--catering {
        font-size: 13px !important;
    }
    .footer__copyright {
        font-size: 12px;
    }
    .adress {
        font-size: 12px;
    }
    .credits {
        font-size: 11px;
    }
    .gallery-container {
        -webkit-column-count: 2;
        -webkit-column-gap: 0px;
        -moz-column-count: 2;
        -moz-column-gap: 0px;
        column-count: 2;
        column-gap: 24px;
    }
}

@media (max-width: 540px) {
    .gallery-container {
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        -moz-column-count: 1;
        -moz-column-gap: 0px;
        column-count: 1;
        column-gap: 0px;
    }
}